<div>
    <h2 id="page-heading">
        <span jhiTranslate="letsgoApp.distributor.home.title">Distributors</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-distributor" [routerLink]="['/distributor/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="letsgoApp.distributor.home.createLabel">
            Create new Distributor
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'letsgoApp.distributor.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="distributors">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="letsgoApp.distributor.name">Name</span></th>
            <th><span jhiTranslate="letsgoApp.distributor.email">Email</span></th>
            <th><span jhiTranslate="letsgoApp.distributor.number">Number</span></th>
            <th><span jhiTranslate="letsgoApp.distributor.logo">Logo</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let distributor of distributors ;trackBy: trackId">
                <td><a [routerLink]="['/distributor', distributor.id, 'view' ]">{{distributor.id}}</a></td>
                <td>{{distributor.name}}</td>
                <td>{{distributor.email}}</td>
                <td>{{distributor.number}}</td>
                <td>
                    <a *ngIf="distributor.logo" (click)="openFile(distributor.logoContentType, distributor.logo)">
                        <img [src]="'data:' + distributor.logoContentType + ';base64,' + distributor.logo" style="max-height: 30px;" alt="distributor image"/>
                    </a>
                    <span *ngIf="distributor.logo">{{distributor.logoContentType}}, {{byteSize(distributor.logo)}}</span>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/distributor', distributor.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/distributor', distributor.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'distributor/'+ distributor.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
