<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-town-heading" jhiTranslate="letsgoApp.town.home.createOrEditLabel">Create or edit a Town</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!town.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="town.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="letsgoApp.town.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="town.name" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="letsgoApp.town.title" for="field_title">Title</label>
                    <input type="text" class="form-control" name="title" id="field_title"
                        [(ngModel)]="town.title" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="letsgoApp.town.departure" for="field_departure">Departure</label>
                    <select class="form-control" id="field_departure" name="departure" [(ngModel)]="town.departure">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="routeOption.id === town.departure?.id ? town.departure : routeOption" *ngFor="let routeOption of departures; trackBy: trackRouteById">{{routeOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="letsgoApp.town.arrival" for="field_arrival">Arrival</label>
                    <select class="form-control" id="field_arrival" name="arrival" [(ngModel)]="town.arrival">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="routeOption.id === town.arrival?.id ? town.arrival : routeOption" *ngFor="let routeOption of arrivals; trackBy: trackRouteById">{{routeOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
