<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="cabin">
            <h2><span jhiTranslate="letsgoApp.cabin.detail.title">Cabin</span> {{cabin.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="letsgoApp.cabin.name">Name</span></dt>
                <dd>
                    <span>{{cabin.name}}</span>
                </dd>
                <dt><span jhiTranslate="letsgoApp.cabin.title">Title</span></dt>
                <dd>
                    <span>{{cabin.title}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/cabin', cabin.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
